%h6, h6 {
	font-size: 12px;
	line-height: 21px;
}

%h5, h5 {
	font-size: 16px;
	line-height: 21px;
}

%h4, h4 {
	font-size: 21px;
	line-height: 37px;
}

%h3, h3 {
	font-size: 28px;
	line-height: 37px;
}

%h2, h2 {
	font-size: 37px;
	line-height: 67px;
}

%h1, h1 {
	font-size: 50px;
	line-height: 67px;
}

$color-gray: #DDDDDD;
$color-silver: #999999;
